<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Espace d'administration</title>
        <link rel="stylesheet" href="{{ asset('build/admincore/main.css') }}">
    </head>

    <body>

        <nav class="topbar">
            <div class="logo">
                Admin
            </div>
            <div class="menu">
                Déconnexion
            </div>
        </nav>

        <aside>
            <div class="sidebar-item">
                <a href="#" class="sidebar-item-link">Accueil</a>
            </div>
            <div class="sidebar-item">
                <a href="#" class="sidebar-item-link">Clients</a>
            </div>
            <div class="sidebar-item">
                <a href="{{ path('admin_core_product') }}" class="sidebar-item-link">Produits</a>
            </div>
        </aside>

        <main>
            {% block body %}{% endblock %}
        </main>
    </body>
</html>