aside {
    width: var(--sidebar-width);
    height: 100vh;
    background-color: var(--color-box);
    color: var(--color-text-box);
    z-index: 50;
    padding-top: calc(var(--topbar-height) + 20px);
    display: flex;
    flex-direction: column;
    position: fixed;
}
aside .sidebar-item-link {
    display: block;
    background-color: var(--color-background);
    margin: 8px 10px;
    padding: 10px 15px;
    font-size: .7rem;
    font-weight: bold;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    transition: .3s;
}
aside .sidebar-item-link:hover {
    background-color: var(--color-primary);
    color: var(--color-primary-text);
    box-shadow: var(--box-shadow-light);
    -webkit-box-shadow: var(--box-shadow-light);
    -moz-box-shadow: var(--box-shadow-light);
}