.topbar {
    width: 100%;
    height: var(--topbar-height);
    line-height: var(--topbar-height);
    background-color: var(--color-box);
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    font-size: .9rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
.topbar .logo {
    margin-left: 80px;
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--color-primary);
    text-transform: uppercase;
}
.topbar .menu {
    margin-right: 80px;
}